@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f6f7f8; /* bg-light */
    color: rgb(31 41 55); /* text-gray-800 */
    transition: background-color 0.3s, color 0.3s;
}

html.dark body {
    background-color: rgb(17 24 39); /* bg-gray-900 */
    color: rgb(229 231 235); /* text-gray-200 */
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}